$quicksandfontFamily: 'Nunito', sans-serif;
$bodyfontSize: 14px;

//Colors
$white: #fff;
$whiteTint1: #f3f3f3;
$creem: #f3f4f6;
$creemTint1: #FEF2CC;
$creemTint2: #FEEDB8;
$skyBlue: #F3F7FA;
$black: #000;
$dark: #1F1F1F;
$red: #FF2B2B;
$green: #8DC542;
$blue: #12344d;
$purple: #7052cc;
$grey: #656565;
$orange: #FF9B44;
$navyBlue: #004BE2;
$greyTint1: #ebeff3;
$greyTint2: #f5f7f9;
$greyTint3: #cfd7df;
$greyTint4: #607787;
$greyTint5: #ccc;
$greyTint6: #888888;
$greyTint7: #808080;
$lightGrey: #A0A0A0;
$lightGrey1: #fbfbfb;
$lightGrey2: #e3e3e3;
$lightGrey3: #DCDCD7;
$lightGreyTint0: #E9E9E9;
$lightGreyTint1: #9e9e9e;
$lightGreyTint2: #d9d9d9;

//Breakpoints
$tablet-only: 992px;
$desktop-only: 1199px;
$xxl-large-pc:2500px;
$xl-large-pc:2000px;
$large-laptop:1600px;
$large-pc:1500px;
$large-pc2:1440px;
$small-laptop:1366px;
$small-pc:1299px;
$laptop:1199px;
$tablet-landscape: 1024px;
$upto-tablet: 992px;
$tablet: 991px;
$mini-tablet: 767px;
$phone-landscape: 575px;
$smartphone: 479px;
$mini-smartphone: 380px;
